html,
body {
<<<<<<< HEAD
	background-image:url('EVE_Online_Fansite_Kits/Backgrounds/Amarr.jpg');
=======
	background-color:#AFAFAF;
>>>>>>> origin/Web
	color:#000000;
	margin:0;
	padding:0;
	height:100%;
}
#all {
	color:#000000;
	min-height:100%;
	position:relative;
}
#main {
	padding-top:75px;
	padding-bottom:175px;
}
#footer {
<<<<<<< HEAD
=======
	background-color:#AFAFAF;
>>>>>>> origin/Web
	color:#000000;
	font-size:10px;
	height:175px;
	position:absolute;
	bottom:0;
}
.jumbotron {
	background:transparent url('EVE_online_MAT_logo.png');
	height: 200px;
	width: 758px;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav a {
	color:#3F3F3F;
}
.nav {
	position:fixed;
	left:25px;
	height:75px;
	padding-bottom:75px;
}