html,
body {
	background-image:url('EVE_Online_Fansite_Kits/Backgrounds/Amarr.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#000000;
	margin:0;
	padding:0;
	height:100%;
}
#all {
	min-height:100%;
	position:relative;
}
#main {
	padding-top:75px;
	padding-bottom:175px;
	background-color:rgba(255, 255, 255, .75);
}
#footer {
	font-size:10px;
	height:175px;
	position:absolute;
	bottom:0;
}
#graphdiv {
	height:550px;
	width:750px;
}
#logo {
	background:transparent url('EVE_online_MAT_logo.png');
	height: 200px;
	width: 758px;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav a {
	color:#FFFFFF;
}
.nav {
	position:fixed;
	left:25px;
	height:75px;
	padding-bottom:75px;
}